//fonts
$fonts:'Roboto', Arial, sans-serif;
//colors
$theme-color:rgb(38, 163, 135);
$text-color:black;
$btn-text-color:#fff;
$link-text-color:#fff;
$btn-bkcolor:#fff;
$toggle-active-bkcolor:linear-gradient(to right, #2AAFC0, #6976c5);
$toggle-inactive-bkcolor:white;
