.half-card
{
    // border: .1rem solid rgba(0, 0, 0, 0.377);   
    padding: 5rem .5rem 3.5rem .5rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(to right, rgb(38,163,135) 0%, rgba(38,163,135,0.95) 100%);
    box-sizing: border-box;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    width: 25%;
    &:hover
    {
        transform: translateY(-5%);
    }
    &__data
    {
        display: inline-flex;
        text-decoration: none;
        text-transform: capitalize;
        color: $link-text-color;
        background-color: transparent;
        box-sizing: border-box;
        vertical-align: middle;
        margin: .8rem;
        &:hover
        {
            color: rgba(255,255,255,0.7);
        }
    }
    &__icon-data
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    &__data-set
    {
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
    
    &__btn-icon
    {
        font-size: 2rem;
        padding-top: 1.5rem ;
        padding-bottom: 1.5rem ;
    }
    &__icon
    {
        box-sizing: border-box;
        width: 4.5rem;
        height: 50%;
    }
}