.scale-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &:hover
    {
        .scale-card__overlay
        {
            opacity: 1;
            transform: scale(1, 1);
        }
    }
    &__overlay
    {
        position: absolute;
        top: 0rem;
        bottom: 0rem;
        left: 0rem;
        right: 0rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

        background-color: rgba(255, 255, 255, 0.9);
        transition: all .5s ease-in-out;
        border:  .5rem solid rgba(38, 163, 135, 0.5);
        opacity: 0;
        transform: scale(0, 0);
    }
    &__img
    {
        width: 100%;
        height: auto;
    }
    &__overlay-content
    {
        font-size:1.5rem;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        align-self: center;
        padding: 30% 20% 30% 20%;
    }
    &__data
    {
        color: #2AAFC0;
        font-weight: 400;
        font-size-adjust: 80%;
    }
    &__heading
    {
        font-weight: 500;
        font-size-adjust: 80%;
        letter-spacing: .1rem;
        margin-top: 1rem;
    }
    &__icon-set
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        margin: 1.5rem .5rem 0;
    }
    &__icon
    {
        display: flex;
        align-self: center;
        font-size-adjust: 50%;
        font-size: 1.2rem;
        padding-left:1rem;
        padding-right: 1rem;
        margin-right: 1.5rem; 
        border: .2rem solid rgba(181, 190, 189, 0.7);
        &:hover 
        {
            background-color: $theme-color;
            color: #fff;
        }
        
    }
}