.dropdown 
{
    display: inline-block;
    position: relative; //must be relative

    cursor: pointer;
    &__data
    { 
        display: inline-flex;
        justify-content: stretch;
        align-items: center;
        flex-direction: row;
        
        // width: 100%;

        // min-width: 11rem;
        font-size: 1.4rem;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        padding: 2rem 1rem;
        color: $btn-text-color;
        background-color: transparent;
        box-sizing: border-box;
        transition: all 1s ease-in-out; 
        
    }
    &__data-icon
    {
        padding-left: 1rem;
    }
    &:hover 
    {
        .dropdown__data
        {
            border-top-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            background-color: $btn-bkcolor;
            color: $theme-color;
        }
        .dropdown__item
        {
            visibility: visible;
            z-index: 5;
            transform: translateY(0);
            transform: translateX(-2%);
            opacity: 1;
            &--round-corners 
            {
                border-top-left-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
            }
        }
    }
    &__item
    {
        position: absolute;
        z-index: -1;
        text-decoration: none;
        padding: 10% 5% 10% 1rem;
        
        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        background-color: $btn-bkcolor;
        color: $text-color;
        min-width: 20rem;
        width: 100%;
        font-size: 90%;
        right: 1.5rem;
        visibility: hidden;
        transform: translateY(-5%);
        opacity: 0;
        transition: all .4s ease-in-out 0s, visibility 0s linear 0s, z-index 0s linear 0.01s;

        
    }
    
    &__content-data
    {
        width: 100%;
        // min-width: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 1rem 1rem 0rem;
        color: $btn-text-color;
        background-color: transparent;
        box-sizing: border-box;
        transition: all 1s ease-in-out; 
        color: $text-color;
    }
    &__content
    {
            text-decoration: none;
            &--sliding-middle-out 
            {
                position: relative;
                display: inline-block;
                &::after 
                {
                    display: block;
                    position: absolute;
                    content: '';
                    margin: auto;
                    height: .5rem;
                    bottom: 20%;
                    width: 0;
                    background: transparent;
                    transition: width .7s ease, background-color .5s ease;
                    
                }
            }
            &--sliding-middle-out
            {
                width: 100%;
            }
            &:hover
            {
                transition: all .2s ease-in-out;
                
                transform: translateX(3%);
                .dropdown__content-data
                {
                    color: $theme-color;
                }
                .dropdown__content--sliding-middle-out::after
                {
                    width: 95%;
                    background:rgba(50, 100, 250, .3);
                }
            }
        }
}
